<div class=" m-0 p-0">
    <div class="about m-0 px-2">
        <div class="row justify-content-between">
            <h4 class="my-4 text-center text-lg-left col-xl-4">Galeria Albumów</h4>
            <ng-template [ngIf]="authService.isAuthenticated()">
                <div class="col-xl-3 my-4">
                    <a class="btn btn-success w-100" routerLink="/albums/new">Nowy Album</a>
                </div>
            </ng-template>
        </div>
        <hr>
        <div class="row p-2 justify-content-around">
            <div class="col-md-6 col-xs-12" *ngFor="let album of albums; let i = index">
                <div class="responsive-imgs p-0 m-0">
                    <a  [href]="album.url">
                        <img class="d-block mb-4 img-fluid" [src]="album.img" [alt]="album.caption"/>
                        <span>{{album.caption}}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>