<div class="row m-0 w-100">
    <section class="col-xl-12">
        <app-navbar></app-navbar>
    </section>
    <section class="col-xl-12 p-0">
        <div class="row m-0">
            <div class="col-xl-2 ml-0 mr-auto p-0 animateMenu" [class.showMenu]="menuState" [class.hideMenu]="!menuState">
                <ng-template [ngIf]="animateMenu && authService.isAuthenticated()">   
                    <app-user></app-user>
                </ng-template> 
            </div>
            <div class="col-xl-8 p-0 mx-auto">
                <router-outlet></router-outlet>
            </div>
            <div class="col-xl-2 mr-0 p-0 ml-auto animateMenu docs" [class.showMenu]="documentState" [class.hideMenu]="!documentState">
                <ng-template [ngIf]="animateDocument">   
                    <app-documents></app-documents>
                </ng-template> 
            </div>
        </div>
    </section>
</div>